<openerp>
    <data>

        <menuitem name="Construction Project"
                  id="menu_construction_project"/>

        <menuitem name="Project Construction"
                  id="menu_construction_project_costing_menu" parent="menu_construction_project" sequence="1" groups="TGB_construction.group_construction_quotation"/>

        <menuitem name="Project Management"
                  id="menu_construction_project_management_menu" parent="menu_construction_project" sequence="2" groups="TGB_construction.group_construction_project"/>

        <menuitem name="Project Billing"
                  id="menu_construction_project_billing_menu" parent="menu_construction_project" groups="TGB_construction.group_construction_project_billing"/>

        <menuitem name="Project Costing"
                  id="menu_construction_project_cost_menu" parent="menu_construction_project" groups="TGB_construction.group_construction_project_costing"/>

        <menuitem name="Human Resources"
                  id="menu_construction_human_resource_menu" parent="menu_construction_project" groups="TGB_construction.group_construction_hr"/>

        <record id="TGB_open_view_employee_list_my" model="ir.actions.act_window">
            <field name="name">Employees</field>
            <field name="res_model">hr.employee</field>
            <field name="view_type">form</field>
            <field name="view_mode">kanban,tree,form</field>
            <field name="domain">[]</field>
            <field name="context">{}</field>
            <field name="view_id" eval="False"/>
            <field name="search_view_id" ref="hr.view_employee_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a new employee.
              </p><p>
                With just a quick glance on the Odoo employee screen, you
                can easily find all the information you need for each person;
                contact data, job position, availability, etc.
              </p>
            </field>
        </record>

        <menuitem action="TGB_open_view_employee_list_my" id="menuTGB__open_view_employee_list_my" sequence="3" parent="menu_construction_human_resource_menu"/>


        <record id="TGB_ir_actions_server_timsheet_sheet" model="ir.actions.server">
            <field name="sequence" eval="5"/>
            <field name="state">code</field>
            <field name="type">ir.actions.server</field>
            <field name="model_id" ref="hr_timesheet_sheet.model_hr_timesheet_current_open"/>
            <field name="code">action = pool.get('hr.timesheet.current.open').open_timesheet(cr, uid, None, context)</field>
            <field name="condition">True</field>
            <field name="name">My Timesheet</field>
        </record>

        <menuitem name="My Current Timesheet" id="menu_TGB_act_hr_timesheet_sheet_form_my_current" parent="menu_construction_human_resource_menu" action="TGB_ir_actions_server_timsheet_sheet" sequence="1"/>

        <record id="TGB_open_view_attendance" model="ir.actions.act_window">
            <field name="name">Attendances</field>
            <field name="res_model">hr.attendance</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{"search_default_today":1}</field>
            <field name="search_view_id" ref="hr_attendance.view_hr_attendance_filter" />
            <field name="help">The Time Tracking functionality aims to manage employee attendances from Sign in/Sign out actions. You can also link this feature to an attendance device using Odoo's web service features.</field>
        </record>

        <menuitem action="TGB_open_view_attendance" id="menu_TGB_open_view_attendance2" parent="menu_construction_human_resource_menu" sequence="21" groups="base.group_hr_attendance"/>

        <menuitem name="Settings"
                  id="menu_construction_configuration" parent="menu_construction_project" sequence="100" groups="TGB_construction.group_construction_settings"/>

        <menuitem name="After-Sales Service"
                  id="menu_construction_crm_claim" parent="menu_construction_project" sequence="5" groups="TGB_construction.group_construction_after_sale"/>

        <record model="ir.actions.act_window" id="TGB_crm_case_categ_claim0">
            <field name="name">Claims</field>
            <field name="res_model">crm.claim</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,calendar,form</field>
            <field name="view_id" ref="crm_claim.crm_case_claims_tree_view"/>
            <field name="context">{"search_default_user_id":uid, "stage_type":'claim'}</field>
            <field name="search_view_id" ref="crm_claim.view_crm_case_claims_filter"/>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Record and track your customers' claims. Claims may be linked to a sales order or a lot.You can send emails with attachments and keep the full history for a claim (emails sent, intervention type and so on).Claims may automatically be linked to an email address using the mail gateway module.
                </p>
            </field>
        </record>

        <menuitem name="Claims" id="menu_TGB_crm_case_claims"
            parent="menu_construction_crm_claim" action="TGB_crm_case_categ_claim0" sequence="1"/>

        <record model="ir.actions.act_window" id="TGB_crm_case_helpdesk_act111">
            <field name="name">Helpdesk Requests</field>
            <field name="res_model">crm.helpdesk</field>
            <field name="view_mode">tree,calendar,form</field>
            <field name="view_id" ref="crm_helpdesk.crm_case_tree_view_helpdesk"/>
            <field name="search_view_id" ref="crm_helpdesk.view_crm_case_helpdesk_filter"/>
            <field name="context">{"search_default_user_id":uid}</field>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to create a new request.
              </p><p>
                Helpdesk and Support allow you to track your interventions.
              </p><p>
                Use the Odoo Issues system to manage your support
                activities. Issues can be connected to the email gateway: new
                emails may create issues, each of them automatically gets the
                history of the conversation with the customer.
              </p>
            </field>
        </record>

        <menuitem name="Complain Log Record" id="menu_TGB_help_support_main"
            groups="base.group_sale_salesman"
            parent="menu_construction_crm_claim" action="TGB_crm_case_helpdesk_act111" sequence="2"/>


    </data>
</openerp>
