<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<menuitem id="menu_action_sale_rental"
    		name="Rental"
    		action="action_sale_rental"
    		parent="base.menu_sales" sequence="10"/>
    		
    	<record model="ir.ui.menu" id="sale.menu_sale_order">
		    <field name="name">Normal Sales</field>
		</record>
    	
    	<menuitem action="action_rental_invoice" id="menu_action_rental_invoice" parent="account.menu_finance_receivables" sequence='0'/>
    	<menuitem action="action_piano_sale_invoice" id="menu_action_piano_sale_invoice" parent="account.menu_finance_receivables" sequence='0'/>
    	<menuitem action="account.action_invoice_tree1" id="account.menu_action_invoice_tree1" parent="account.menu_finance_receivables" sequence='1'/>
    	
	</data>
</openerp>